{% load static %}

<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}{# PROJECT_NAME #}</title>

    <meta property="og:title" content="{% block og-title %}{% endblock %}"/>
    <meta property="og:description" content="{% block og-description %}{% endblock og-description %}"/>
    {% block og-sitename %}<meta property="og:site_name" content="{# PROJECT_NAME #}"/>{% endblock %}

    <link rel="canonical" href="{{ request.build_absolute_uri }}"/>



    {% block extrahead %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}

{% block metrics %}
    {% if not debug %}
        {# include analytics/metrics #}
    {% endif %}
{% endblock metrics %}



{% block extrafooter %}{% endblock %}
</body>
</html>